<div class="toolbar">
  <app-mobile-nav></app-mobile-nav>
  <div class="nav-btn">
      <img src="assets/icons/Back-1.svg"/> Back
  </div>

  <div class="fast-nav">
    <div class="action-field">
      <input type="text" placeholder="Go to case ID#"/>
      <div class="go-btn">
        <img src="assets/icons/arrow-right.svg" />
      </div>
    </div>
  </div>

  <div class="nav-links">
    <ul>
      <li>
        <img src="assets/icons/Fulfillment-KPIs.svg"/>
        Fulfillment KPIs
      </li>
    </ul>
  </div>

  <div class="mobile-logo">
    <img src="assets/icons/TrueCare24_logo.svg"/> True Care
  </div>

  <div class="user-menu">
    <div class="user-item">
      <div class="item">
        leo@truecare24.com
        <div class="dropdown-icon"></div>
      </div>
      <div class="avatar">
        <img src="assets/icons/IC.svg"/>
      </div>
    </div>

    <div class="user-menu-content">
      First Lastname

      <div class="options">
        <div>switch account</div>
        <div>logout</div>
      </div>
    </div>
  </div>
</div>
