@import "../../../mixins";
.statuses-menu {
  position: absolute;
  z-index: 2;
  width: 200px;
  left: -16px;
  overflow: hidden;

  @include popupMenu();
  .status-line {
    padding-left: 15px;
    height: 40px;
    line-height: 40px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #C6D0D8;
    cursor: pointer;
    &:last-child{
      border-bottom: 0;
    }
    &:hover{
      background: color('lightGray');
    }
  }

  @include iPad(){
    position: static;
  }
  @include phone() {
    position: static;
  }
}
