@import "../../../mixins";

.card{
  border-radius: 6px;
  padding: 20px;
  background: #fff;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,.05);

  .title{
    margin-bottom: 20px;
    font-weight: 600;
  }

  .card-container{
    @include iPad() {
      overflow-x: auto;
    }
    @include phone() {
      overflow-x: auto;
    }
  }
}
